<%- include("partials/header") %>

<div class="slogan-container">

  <div class="col-xl-12 col-lg-7">
   <div class="money-col transac">
     <p id="tag_line" style="font-size:34px;color: #33D4D6;padding-bottom: 23px;">Transaction Failed</p>
     <p id="tag_line" style="font-size:34px;color: #33D4D6;padding-bottom: 23px;"><%= EJS %></p>

     <a href="/transfer"><button type="button" name="button">Try Again</button></a>


   </div>
  </div>

</div>

<%- include("partials/footer") %>
