<%- include("partials/header") %>

<div class="slogan-container">

  <div class="col-xl-12 col-lg-7">
   <div class="money-col transac">
     <!-- <p id="tag_line" style="font-size:34px;color: #33D4D6;padding-bottom: 23px;">Transaction Success</p> -->
     <p id="tag_line" style="font-size:34px;color: #33D4D6;padding-bottom: 23px;"><%= EJS %></p>

     <a href="/prev_transac"><button type="button" name="button">View Transaction</button></a>


   </div>
  </div>

</div>

<%- include("partials/footer") %>
